@font-face {
    font-family: "Manrope-Medium";
    src: url(../fonts/Manrope-Medium.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: Manrope-Medium;
    font-size: 1vw;
}

header {
    display: flex;
    align-items: center;
    box-shadow: 0 0.06vw 0.32vw 0.06vw rgba(0, 0, 0, 0.3);
    gap: 2vw;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 1vh;
}

.logo {
    width: 7vw;
    height: 8vh;
}

.navbar-icon {
    width: 1.5vw;
    height: 1.5vw;
}

.navbar-el {
    display: flex;
    align-self: center;
}

.navbar-el a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 0.5vw;
}

.basket-el, .login-el {
    margin-left: 0;
    margin-right: 2vw;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-left: auto;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 2vh;

    & input {
        width: 20vw;
    }
}

.credentials {
    display: flex;
    flex-direction: column;
    gap: 1.3vh;
    width: 40vw;
}

input {
    height: 4.5vh;
    outline: none;
    border-radius: 0.5vw;
    border-color: rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1vw;
    padding-left: 0.5vw;

    &:focus {
        border-color: rgba(0, 0, 0, 0.5);
    }
}

.profile-btns {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 3vh;
}

#logout-btn {
    padding: 0.5vw 3vh;
    border-radius: 0.9vw;
    font-size: 1.1vw;
    color: #333;
    outline: none;
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.13);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

#edit-profile-btn {
    padding: 0.7vw 3vh;
    border-radius: 0.9vw;
    font-size: 1.1vw;
    outline: none;
    border: 0;
    color: white;
    background-color: #f4511e;
    cursor: pointer;

    &:hover {
        background-color: #a63c1c;
    }

    &:active {
        background-color: #873016;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2vw;
    border-radius: 1vw;
    max-width: 30vw;
    width: 90%;
    animation: fadeIn 0.2s ease-in-out; 

    & p {
        font-size: 1.2vw;
    }
}

#question-mark {
    width: 3.5vw;
}

.modal-btns {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 1vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.confirm-btn {
    color: white;
    font-size: 1.1vw;
    padding: 1vw 15vh;
    border: none;
    border-radius: 0.9vw;
    cursor: pointer;
    background-color: #f4511e;

    &:hover {
        background-color: #a63c1c;
    }

    &:active {
        background-color: #873016;
    }
}

.cancel-btn {
    color: #333;
    font-size: 1.1vw;
    padding: 1vw 15vh;
    border-radius: 0.9vw;
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.13);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

#login__continue-btn, #login__login-btn {
    color: white;
    font-size: 1.1vw;
    padding: 1vw 5vh;
    width: 20vw;
    border: none;
    border-radius: 0.9vw;
    cursor: pointer;
    background-color: #f4511e;

    &:hover {
        background-color: #a63c1c;
    }

    &:active {
        background-color: #873016;
    }
}

#resend-code-timer {
    opacity: 0.45;
}

#resend-code {
    cursor: pointer;
    font-weight: 600;
    margin: 0 5vw;
}

.pizza-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15vw);
    gap: 5vh;
    padding: 5vh;
    width: 85vw;
}

.pizza-card {
    border: 0.1vw solid #ddd;
    border-radius: 1vw;
    padding: 1vh 1vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }
}

.pizza-card__image {
    display: flex;
    align-self: center;
    width: 80%;
    height: 22vh;
    object-fit: cover;
}

.pizza-card__name {
    font-size: 1.1vw;
    font-weight: 600;
    margin-top: 1vh;
}

.pizza-card__description {
    font-size: 0.9vw;
    color: #555;
    margin-top: 1vh;
}

.pizza-card__price {
    font-size: 1.1vw;
    font-weight: 600;
    margin-top: auto;
}

.pizza-card__select-btn {
    background-color: #f4511e;
    width: 100%;
    color: white;
    border: none;
    padding: 1.5vh;
    border-radius: 1vw;
    font-size: inherit;
    cursor: pointer;
    margin-top: 1vh;

    &:hover {
        background-color: #a63c1c;
    }

    &:active {
        background-color: #873016;
    }
}

.loading-text {
    position: absolute;
    top: 30%;
    left: 45vw;
    font-weight: 600;
}

.pizza-popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pizza-popup__content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2vw;
    background-color: white;
    padding: 5vh;
    border-radius: 1vw;
    width: 50vw;
    height: 70vh;
    overflow-y: auto;
    animation: fadeIn 0.2s ease-in-out; 
}

.pizza-popup__image-container {
    grid-column: 1 / 2;
    justify-self: center;
}

.pizza-popup__image {
    width: 17vw;
    margin-top: 3vh;
}

.pizza-popup__info {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    gap: 2vw;
    overflow-y: auto;

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 0.3vw rgba(0,0,0,0.2);
        border-radius: 1vw;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 0.8vw;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 1vw;    
        background-color: #ced2da;
    }
}

.pizza-popup__ingredients {
    color: #222;
}

.pizza-popup__name {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
}

.pizza-popup__sizes,
.pizza-popup__doughs {
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

.pizza-popup__size-btn,
.pizza-popup__dough-btn {
    font-size: inherit;
    color: #222;
    padding: 1vh 1.5vw;
    border: 0.1vw solid #ddd;
    border-radius: 0.5vw;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #f1f1f1;
    }

    &.active {
        background-color: #f4511e;
        color: white;
        border-color: #f4511e;
    }
}

.pizza-popup__toppings {
    display: flex;
    flex-direction: column;
}

.pizza-popup__toppings-title {
    font-size: 1.2vw;
}

.pizza-popup__toppings-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 8vw);
    justify-content: center;
    gap: 1vw;
}

.pizza-popup__topping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vh;
    padding: 1vh;
    border: 0.1vw solid #ddd;
    border-radius: 0.5vw;
    cursor: pointer;

    &.active {
        border: 0.15vw solid #f4511e;
    }
}

.pizza-popup__topping-image {
    width: 80%;
}

.pizza-popup__topping-name {
    flex-grow: 1;
}

.pizza-popup__topping-price {
    font-weight: bold;
    color: #222;
}

.pizza-popup__add-btn {
    grid-column: 2 / 3;
    color: white;
    font-size: 1.1vw;
    font-weight: 600;
    padding: 1vw 15vh;
    border: none;
    border-radius: 0.9vw;
    cursor: pointer;
    background-color: #f4511e;

    &:hover {
        background-color: #a63c1c;
    }

    &:active {
        background-color: #873016;
    }
}