@font-face {
    font-family: "Manrope-Medium";
    src: url(../fonts/Manrope-Medium.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: Manrope-Medium;
    font-size: 1vw;
}

header {
    display: flex;
    align-items: center;
    box-shadow: 0 0.06vw 0.32vw 0.06vw rgba(0, 0, 0, 0.3);
    gap: 2vw;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 1vh;
}

.logo {
    width: 7vw;
    height: 8vh;
}

.navbar-icon {
    width: 1.5vw;
    height: 1.5vw;
}

.navbar-el {
    display: flex;
    align-self: center;
}

.navbar-el a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 0.5vw;
}

.basket-el, .login-el {
    margin-left: 0;
    margin-right: 2vw;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-left: auto;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 2vh;

    & input {
        width: 20vw;
    }
}

.credentials {
    display: flex;
    flex-direction: column;
    gap: 1.3vh;
    width: 40vw;
}

input {
    height: 4.5vh;
    outline: none;
    border-radius: 0.5vw;
    border-color: rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1vw;
    padding-left: 0.5vw;

    &:focus {
        border-color: rgba(0, 0, 0, 0.5);
    }
}

.profile-btns {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 3vh;
}

#logout-btn {
    padding: 0.5vw 3vh;
    border-radius: 0.9vw;
    font-size: 1.1vw;
    color: #333;
    outline: none;
    border-color: rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: rgba(0, 0, 0, 0.13);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}

#edit-profile-btn {
    padding: 0.7vw 3vh;
    border-radius: 0.9vw;
    font-size: 1.1vw;
    outline: none;
    border: 0;
    color: white;
    background-color: #f4511e;

    &:hover {
        background-color: #a63c1c;
        cursor: pointer;
    }

    &:active {
        background-color: #873016;
        cursor: pointer;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    & img {
        width: 3.5vw;
    }

    & p {
        font-size: 1.2vw;
    }
}

.modal-btns {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 1vh;
}

.confirm-btn {
    color: white;
    font-size: 1.1vw;
    padding: 1vw 15vh;
    border: none;
    border-radius: 0.9vw;
    cursor: pointer;
    background-color: #f4511e;

    &:hover {
        background-color: #a63c1c;
        cursor: pointer;
    }

    &:active {
        background-color: #873016;
        cursor: pointer;
    }
}

.cancel-btn {
    color: #333;
    font-size: 1.1vw;
    padding: 1vw 15vh;
    border-radius: 0.9vw;
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.13);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}

#login__continue-btn, #login__login-btn {
    color: white;
    font-size: 1.1vw;
    padding: 1vw 5vh;
    width: 20vw;
    border: none;
    border-radius: 0.9vw;
    cursor: pointer;
    background-color: #f4511e;

    &:hover {
        background-color: #a63c1c;
        cursor: pointer;
    }

    &:active {
        background-color: #873016;
        cursor: pointer;
    }
}

#resend-code-timer {
    opacity: 0.45;
}

#resend-code {
    cursor: pointer;
    font-weight: 600;
    margin: 0 5vw;
}